.env.yaml
fake/*
.DS_store
scratch.mjs
.env
sampleData/*
tmp/*
!tmp/.gitkeep
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
sample/*
!sample/.gitkeep

# GUIDES
guides/*
!guides/.gitkeep
lookups-custom/*
!lookups/.gitkeep
lookups-standard/*
!lookups-standard/.gitkeep

node_modules
old